<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta charset="utf-8" />
		<title>
			{{ siteName }}
		</title>
		{% if devMode %}
			<link rel="stylesheet" href="/tmp/app.css" />
		{% else %}
			<link rel="stylesheet" href="/dist/app.css" />
		{% endif %}
	</head>
	<body id="top" class="bg-secondary text-base text-white font-light">
		{{ include('_includes/layout/header') }}
		<div class="relative w-full max-w-lg">
			<div class="-z-50 absolute bottom-0 -left-44 w-96 h-96 bg-circle rounded-full filter blur-2xl animate-blob animation-delay-4000"></div>
		</div>
		<main class="">
			{% block main %}

			{% endblock %}
		</main>

		{{ include('_includes/layout/footer') }}

		{% if devMode %}
			<script src="/tmp/app.js" type="text/javascript"></script>
		{% else %}
			<script src="/dist/app.js" type="text/javascript"></script>
		{% endif %}
	</body>
</html>
